@charset "UTF-8";
@font-face {
  font-family: "Futura";
  src: url("../fonts/futuralightbt.ttf");
}
@font-face {
  font-family: "RM";
  src: url("../fonts/whiteonblack.ttf");
}
/* Reset */
* {
  margin: 0;
  padding: 0;
  font-family: "Futura";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Estilo menu */
.menu {
  background-color: black;
  font-size: 25px;
  width: 100%;
  height: auto;
  margin-bottom: 0;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 60px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.menu-item a {
  color: white;
}
.menu-item :hover {
  color: grey;
}

.menu-item-activo a {
  font-size: 1, 9em;
  color: darkgoldenrod;
}

#check-menu, label.menu-mobile {
  display: none;
}

/* Estilos mains */
main {
  color: rgb(64, 64, 68);
  padding: 20px;
}

.card {
  background-color: lightgrey;
  padding: 20px 20px 0px 20px;
}
.card h2 {
  padding-top: 10px;
}

section {
  padding: 20px;
}

h1 {
  padding-bottom: 20px;
}

.redes h2 {
  color: black;
}
.redes a {
  color: black;
}
.redes li :hover {
  cursor: pointer;
}

/* Estilos fotter */
footer {
  background-color: #CFC9C8;
  width: auto;
  height: auto;
  align-items: center;
}

.pie {
  margin: 0px;
}
.pie p, .pie a, .pie ul {
  color: white;
  font-size: 0.95em;
  justify-content: center;
  padding: 0px 8px;
}
.pie h3 {
  color: black;
  font-size: 1em;
  font-weight: bold;
}
.pie .dis {
  color: darkgoldenrod;
  background-color: black;
  margin: 0px;
  padding: 5px;
  padding-left: 20px;
}
.pie .rm {
  font-family: "RM";
}
.pie ul :hover {
  cursor: pointer;
}

/* Estilos de imagenes */
img.mediana {
  width: 250px;
  height: 250px;
}

img.galeria {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

img.pequeña {
  width: 25px;
  height: 25px;
}

img.logo-pequeño {
  width: auto;
  height: 25px;
}

img.slide {
  height: 500px;
  object-fit: cover;
}

img.servicios {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* Estilos Flexbox*/
.contenedor-padre {
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.contenedor-hijo {
  background-color: lightgrey;
  width: 350px;
  height: 500px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.index-hijo {
  width: 800px;
  height: auto;
  padding: 10px;
  text-align: justify;
  justify-content: center;
  font-size: 1.4em;
}

.redes ul {
  display: flex;
  flex-direction: column;
  color: black;
}

/* Estilos GRID */
.galeria {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 250px);
  gap: 5px;
  width: 100%;
  margin: auto;
}
.galeria img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mediana:nth-child(4) {
  grid-column-start: span 2;
}

.mediana:nth-child(6) {
  grid-row-start: span 2;
}

.mediana:nth-child(12) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

.galeria img:hover {
  cursor: pointer;
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
/* Media queries */
/* Celular */
@media (max-width: 767px) {
  .menu {
    position: sticky;
    top: 0;
    text-decoration: none;
  }
  .menu ul {
    display: none;
    position: absolute;
    float: right;
    flex-direction: column;
    background-color: black;
    width: 150px;
    height: auto;
    font-size: 0.9em;
    align-items: center;
    margin: 0px;
    padding-left: 10px;
  }
  label.menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
  }
  #check-menu:checked ~ ul {
    display: block;
  }
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  .slide img {
    height: 300px;
    object-fit: cover;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 250px);
    gap: 5px;
  }
  .mediana:nth-child(1) {
    grid-row-start: span 2;
  }
  .mediana:nth-child(15) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .card {
    width: 400px;
  }
  img.pequeña {
    width: 15px;
    height: 15px;
  }
  .pie {
    height: auto;
    gap: 10px;
  }
  .pie p, .pie a, .pie ul {
    font-size: 0.9em;
    padding: 0px 8px;
    margin-top: 10px;
  }
  .pie ul {
    margin-top: 0px;
  }
  .pie h3 {
    font-size: 0.9em;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .pie .der-dis-lg {
    display: none;
  }
  .pie p {
    justify-content: center;
  }
}
/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .menu ul {
    margin: 0px;
  }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 250px);
    gap: 5px;
  }
  .mediana:nth-child(14) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
  .pie {
    height: auto;
    gap: 10px;
  }
  .pie p, a, ul {
    font-size: 0.9em;
    padding: 0px;
    margin-top: 10px;
  }
  .pie ul {
    margin-top: 0px;
  }
  .pie h3 {
    font-size: 0.9em;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .der-dis-lg {
    display: none;
  }
  .pie p {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
